@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap');

body {
  background-image: url('../img/papyrus.png');
  background-size: initial;
  background-position: bottom left;
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}
.logo {
  width: 100%;
  max-width: 500px;
  margin: 85px 45px 55px 45px;

}

.box {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: block;
  border-radius: 20px;
}

.size-1 {
  padding: 80px 50px;
  font-size: 18px;
}

.size-2 {
  padding: 15px;
}

.size-1 a img {
  margin-right: 10px;
  width: 40px;
  margin-top: 10px;
}

.size-1 a:last-child img {
  margin-right: 0px;
}

.size-3 {
  padding: 15px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.highlight-container, 
.highlight2-container,
.highlight {
  position: relative;
}

.highlight-container,
.highlight2-container {
  display: inline-block;
}

.highlight-container:before{
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #FFF800;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}


.highlight2-container:before {
  content: " ";
  display: block;  
  height: 130%;  
  width: 110%;  
  margin-left: -3px;  
  margin-right: -3px;  
  position: absolute;  
  background: #FFF800;  
  transform: rotate(1deg);  
  top: -3px;  
  left: -3px;  
  border-radius: 20% 25% 20% 24%;  
  padding: 10px 3px 3px 10px;
}


.button {
  font-size: 20px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px 0px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 0px;
  position: relative;
  border-radius: 3px;
}

.button:hover {
  color: #fff;
}

.title, .title2 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;  
  text-transform: uppercase;
}

.title::before {
  display: inline-block;
  content: "";
  border-top: .1rem solid
  black;
  width: 5rem;
  margin:-0.8rem 0rem;
  transform: translateY(-1rem);
}

.title2::after {
  display: inline-block;
  content: "";
  border-top: .1rem solid
  black;
  width: 5rem;
  margin:-0.8rem 0rem;
  transform: translateY(-1rem);
  z-index: -1;
}

.content-title {
  font-size: 50px;
  display: block;  
  margin: 10px 0;  
  font-weight: 800;
  line-height: 1;
}

.content-title-b {
  font-size: 60px;
  display: block;  
  margin: 10px 0;  
  font-weight: 800;
  line-height: 1;
}
.row-space {
  margin: 50px 0 0px 0px;
}

.row-space-top {
  margin-top: 20px;
}

.button-black{
  background: #000;
  color: #fff;
  margin-bottom: 84px;
}

img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
  width: 10px;
}

.img-client {
  max-width: 100%;
  width: 100%;
}

.text-muted {
  font-size: 10px;
}

.disabled {
  opacity: 0.4;
  cursor: default;
  filter: gray;
  filter: grayscale(100%);
}


.content-txt {
  display: block;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .small-margin-top {
    margin-top: 20px !important;
  }

  .size-1 {
    padding: 30px 22px;
    font-size: 16px;
  }

  .row-space {
    margin: 20px 0;
  }

  .size-1 img {
    margin-right: 10px;
    width: 30px;
    float: left;
    margin-top: 30px;
  }

}