@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  background-image: url('../img/papyrus.png');
  background-size: initial;
  background-position: bottom left;
  background-repeat: repeat;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  color: #1c1b20;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  color: #000;
}
a:hover {
  color: #000;
}

.switch-lang {
  top: 2%;
  right: 3%;
  position: fixed;
  z-index: 1000;
  list-style: none;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
  }
  a {
    display:block;
    font-size:1.2rem;
    text-transform:uppercase;
    color:#bcbcbc;
    font-weight:900;
    text-decoration:none;
    letter-spacing:0.2em;
  }
  .active {
      color: #000;
  }

}
